[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "phonR"]
	path = phonR
	url = https://github.com/drammock/phonr
	shallow = true
	registered = true
